@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Fasthand&family=Indie+Flower&family=Shalimar&family=Special+Elite&display=swap');

#corpspagerogue
{
    height: 800px;
    width: 95%;
    margin: 2%;
    border: 4px double white;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 3;
}

#synopsis
{
    grid-column: 2/5;
    grid-row: 1;
    background-image: url(/assets/img/rogueweapon.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: rgb(211, 155, 0);
}

#conteneurproscons
{
    grid-column: 2;
    grid-row: 2;
    border: 2px inset white;
    margin: 2%;
    font-size: 20px;
}

.titreproscons
{
    text-align: center;
}

#pros
{
    color: green;
    margin: 10%;
}

#cons
{
    color: rgb(121, 0, 0);
    margin: 10%;
}

#roguearmory
{
    grid-column: 3;
    grid-row: 2;
    background-image: url(/assets/img/roguearmory.png);
    background-size: 100% 100%;
    border: 2px inset white;
    margin: 2%;
}

#roguetalents
{
    grid-column: 4;
    grid-row: 2;
    background-image: url(/assets/img/roguetalents.png);
    background-size: 100% 100%;
    border: 2px inset white;
    margin: 2%;
}